/* Center the flashcard and move the button lower */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.flashcard-container {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center the flashcard */
  align-items: center;
  margin: 0 auto;
  margin-bottom: 40px; /*Increase the margin to move the button lower */
} 

.flashcard {
  width: 400px;
  height: 200px;
  position: relative;
  /*Child elements should be positioned in 3D space. Necessary for 3D transformations like rotation to work correctly.*/
  transform-style: preserve-3d;
  /*This transition creates a smooth animation when the flashcard is flipped.*/
  transition: transform 0.5s;
  /*changes the cursor to a hand pointer when hovering over the flashcard to indicate that it's clickable. */
  cursor: pointer; 
  
}

.flashcard.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  background-color: #fff;
  /* padding: 20px; */
}

.back {
  transform: rotateY(180deg);
}

.next-card {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}
